*{margin:0;padding:0;outline:0;}
body{font-family:arial;font-size:16px;line-height:16px;}
.clear{overflow:hidden;}
.template{
			width: 1000px;
			border-left: 1px solid #c2c2c2;
			margin: 0 auto;
			border-right: 1px solid #c2c2c2;
	}
a{
			color:#000;
			font-weight:bold;
			text-decoration:none;
	}
a:hover{text-decoration:underline;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
p{margin-bottom:15px;}


.headsection{  
			width: 100%;
			height: 60px;
			background: #E8F3F4;
			border-top: 5px solid black;
			border-bottom: 1px solid #ccc;
			}	 

	.headerleft{    
			float: left;
			width: 540px;
			margin-right: 50px;
			height: 100px;}
.headerleft h2 {
			float: left;
			font-family: georgia;
			font-size: 40px;
			margin-top: 18px;
			padding-right: 45px;
			padding-left: 20px;
			line-height: 23px;
			border-right: 1px solid gray;
}
.headerleft p{
			float: left;
			font-size: 16pz;
			margin-left: 12px;
			margin-top: 22px;
			}
	 
.headerright{float:right; width:300px;}	 
.headerright input[type="text"]{ 
			width: 245px;
			background-color: #fff;
			border: 1px solid gray;
			padding: 5px;
			margin-top: 15px;
			margin-right: 5px;
			}	 
.headerright input[type="submit"]{
			background-color: #ccc;
			border: 1px solid gray;
			padding:5px;
}	 
	 
.menusection{
			background-color: #E9F0F2;
			height: 45px;
			}	 
.menuleft{ width:800px;float:left;}	 
.menuleft ul {margin:0;padding:0;list-style:none;}	 
.menuleft ul li{
			float: left;
			display: block;
			padding: 10px 25px;
			border-right: 1px solid gray;
			margin: 6px 0px;
			border-radius: 2px;
			}	 
.menuleft ul li a{
			color:gray;
			display:block;
			}	 
.menuleft ul li a:hover{
			text-decoration:none;
			background-color:#fff;
			color:#000;
	}
.menuleft ul li:last-child{border-right: 0px solid gray;}	 


.menuright{
			width: 170px;
			float: right;
			margin-top: 12px;
			color: gray;
			}	 
.menuright p{margin: 0px;}
	 
.bannersection{
			background-color:#008B8C;
			height:330px;
			border:1px solid gray;
	}	 
.bannerleft{
			width:550px;
			float:left;
			margin-right:20px;
			margin-left:20px;
	}
.bannerleft h2 {
			font-family: georgia;
			font-size: 35px;
			margin-top: 40px;
			margin-bottom: 20px;
			padding-bottom: 15px;
			border-bottom: 2px dotted #fff;
			color: #fff;
			}
.bannerleft p{color: #fff;
    line-height: 30px;}

	 
.bannerlink{height:80px;}	 
.leftlink{
			width: 209px;
			float: left;
			font-size: 28px;
			background-color: #fff;
			margin-right: 10px;
			padding: 14px;
			margin-left: 10px;
			margin-top: 40px;
			}	 
.leftlink a{color:#000;}	 


.bannertight{
			width:364px;
			float:right;
			margin-right:20px;
			margin-left:20px;
	}	 
.bannertight img{
			margin-top: 50px;
			height: 230px;
			width: 353px;
			padding: 5px;
			background-color: #000;
			border: 1px solid #444;
}
				
 
.sectionservice{  background: #EaF2F4;}

.allservice{margin:30px 20px; border-bottom:1px solid #fff;padding-bottom:20px}
.services{width:238px;float:left; border:1px solid #cdd8d8;}
.sameservices{padding:0px 5px 10px;}	 
.services h2 {    
			font-family: georgia;
			font-size: 22px;
			padding: 15px;
			text-align: center;
			text-transform: uppercase;
			color: #008B8C;
			background-color: #fff;
			margin-bottom: 10px;
			}	 
.services h3{
			font-family: georgia;
			font-size: 22px;
			color: #666666;
			border-bottom: 1px solid #666;
			padding: 5px;
			margin: 5px;
	}	 
.services p{	color: #666666;line-height:18px;}	 
.services a{ float:right;}	 
.services a:hover{}	
 
.contentsection{background:#EAF2F4;}	 
.contentleft{
			width:400px;
			float:left;
			margin-left:20px;
	}	 
.contentleft h2{    
			font-family: georgia;
			font-size: 25px;
			color: #666666;
			border-bottom:1px solid gray;
			padding-bottom:10px;
			}	 
	 
.contentleftdesc{    
			border-bottom: 1px solid gray;
			padding-top: 20px;
			padding-bottom: 20px;
			}	 
.leftimage{
			margin-right: 25px;
			float:left;
			width:100px;
	}
.leftimage img{
			width: 100px;
			height: 90px;
			
			background: #fff;
			border: 1px solid gray;
			padding: 5px;
			}
	 
.righttext{float:right;width:270px;}	 
.righttext h4{font-weight:bold;}	 
.righttext p{margin-bottom: 10px;
    line-height: 23px;}	 
.righttext a{
			float:right;
			color:#444;
		}	 
.righttext a:hover{}
	 
	 
.contentright{width:520px;float:right;margin-right:20px;}	 
.contentright h2{
			border-bottom: 1px solid gray;
			font-family: georgia;
			font-size: 25px;
			padding-bottom: 10px;
			margin-bottom: 15px;
			color:#666666;	
			}	 
.contentright img{
			float: left;
			margin-right: 20px;
			width: 153px;
			height: 100px;
			border: 1px solid gray;
			padding: 5px;
			background: #FFF;
			}	 
.contentright h4{    
			font-weight: bold;
			color: #666666;
			margin-bottom: 9px;
	}	 
.contentright p{
	color: #666666;
    line-height: 24px;
	}
	 
.footertop{background:#252524; height:220px;border-bottom: 2px solid gray;
}	 
.samefooter{width:306px;float:left;margin-left:20px;}	 
.samefooter h2{    
			border-bottom: 1px solid gray;
			font-family: georgia;
			font-size: 25px;
			color: #b5b5b5;
			line-height: 30px;
			margin-bottom: 15px;
			margin-top: 23px;
			padding-bottom: 19px;
			}	 
.samefooter p{    
			color: #b5b5b5;
			margin-bottom: 10px;}	 
.samefooter input[type="text"]{
			width:245px;
			padding:5px;
			margin-bottom: 20px;
			}	 
.samefooter input[type="submit"]{
			background: #FFF;
			padding: 5px;
			border: 1px solid #FFF;
			cursor: pointer;
			}	 
.samefooter a {color:#b5b5b5;}
.samefooter ul{margin:0;padding:0;list-style:none;}	 
.samefooter ul li{padding-bottom:18px;}	 
.samefooter ul li a {
	color: #3879D9;
font-weight: normal;}	 
.samefooter ul li a:hover{}	 

.footerbottom{background:#1F1F14;color:#FFF;padding-top:15px;}	 
.footleft{float:left;}	 
.footleft p{}
	 
.footright{float:right;}	 
.footright p{}	 
	